Repository hmcts/azure-public-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/cpp-development-admin, @hmcts/juror-digital

.github/CODEOWNERS:

* @hmcts/platform-operations

environments/prod/cjscp-org-uk.yml @hmcts/platform-operations @hmcts/cpp-development-admin
environments/prod/hmcts-net.yml @hmcts/platform-operations @hmcts/cpp-development-admin

### JD
environments/prod/reply-jury-summons-service-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
environments/prod/juror-bureau-justice-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital

CNAME for apigw.prp
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAME for apigw.prp
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

remove this record as its managed by other repo
  environments/sandbox.yml
Owners: @hmcts/platform-operations

remove this record as its managed by other repo (#1479)
  environments/sandbox.yml
Owners: @hmcts/platform-operations

CNAME for apigw.nft.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

removed TXT records
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/test/perftest.yml
Owners: @hmcts/platform-operations

removed TXT records (#1481)
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/test/perftest.yml
Owners: @hmcts/platform-operations

CNAME for apigw.prp.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAME for apigw.nft.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAME for apigw.nft.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

SRE-17360 adding DNS records for rota.prp.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAMES for prod and dev apigw
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAMES for prod and dev apigw
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Add Opal frontend
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Adding CNames for Dev07
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Adding CNames for Dev07
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Adding record for sandbox wildcard cert
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

SRE-17360 adding DNS records for rota.prp.cjscp.org.uk (#1483)
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Update dev.yml
  environments/dev/dev.yml
Owners: @hmcts/platform-operations

Apply suggestions from code review
  environments/dev/dev.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Add Opal frontend (#1485)
  environments/dev/dev.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Adding A-Records for Dev07
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Adding A-Records for Dev07 (#1490)
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Add juror public to demo & staging
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Add juror public to demo & staging (#1478)
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Remove unneeded DNS entries
  environments/prod/juror-bureau-justice-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Remove unneeded DNS entries (#1491)
  environments/prod/juror-bureau-justice-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Adding new record
  environments/sandbox.yml
Owners: @hmcts/platform-operations

Adding new record (#1492)
  environments/sandbox.yml
Owners: @hmcts/platform-operations

Replaced record for the heritage nle-int frontdoor
  environments/prod/apps-hmcts-net.yml
  environments/prod/apps-nle-hmcts-net.yml
Owners: @hmcts/platform-operations

Replaced record for the heritage nle-int frontdoor (#1493)
  environments/prod/apps-hmcts-net.yml
  environments/prod/apps-nle-hmcts-net.yml
Owners: @hmcts/platform-operations

shutter cft for LAU release
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

shutter cft for LAU release (#1494)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Revert "shutter cft for LAU release (#1494)"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Revert "shutter cft for LAU release (#1494)" (#1495)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

moving the darts portal too apps
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

enabled shutter for adoption in prod
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

removing old links and moving to apps file
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/prod/apps-hmcts-net.yml
  environments/sandbox.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Update apps-hmcts-net.yml
  environments/prod/apps-hmcts-net.yml
Owners: @hmcts/platform-operations

DMP-1646-darts-portal-url-change (#1496)
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations
