Repository hmcts/azure-public-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/cpp-development-admin, @hmcts/juror-digital

.github/CODEOWNERS:

* @hmcts/platform-operations

environments/prod/cjscp-org-uk.yml @hmcts/platform-operations @hmcts/cpp-development-admin
environments/prod/hmcts-net.yml @hmcts/platform-operations @hmcts/cpp-development-admin

### JD
environments/prod/reply-jury-summons-service-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
environments/prod/juror-bureau-justice-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital

adding afdverify to test if the APEX would work (#1458)
  environments/prod/employmenttribunals-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "adding afdverify to test if the APEX would work (#1458)"
  environments/prod/employmenttribunals-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "adding afdverify to test if the APEX would work (#1458)" (#1459)
  environments/prod/employmenttribunals-service-gov-uk.yml
Owners: @hmcts/platform-operations

DTSPO-15149_shutter APEX domain prepare migration (#1450)
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

updated APEX domains to point to new SDS FD
  environments/prod/certificatedbailiffs-justice-gov-uk.yml
  environments/prod/courtfines-direct-gov-uk.yml
  environments/prod/immigrationappealsonline-justice-gov-uk.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
  environments/prod/tribunalsdecisions-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

updated APEX domains to point to new SDS FD (#1460)
  environments/prod/certificatedbailiffs-justice-gov-uk.yml
  environments/prod/courtfines-direct-gov-uk.yml
  environments/prod/immigrationappealsonline-justice-gov-uk.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
  environments/prod/tribunalsdecisions-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

updated all the domain endpoints to new FD
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/ejudiciary-net.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

updated all the domain endpoints to new FD (#1461)
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/ejudiciary-net.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

DTSPO-15147 - shuttering CFT apps for migration (#1451)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Owners: @hmcts/platform-operations

replaced sdshmcts-prod apex
  environments/prod/casetracker-justice-gov-uk.yml
  environments/prod/ejudiciary-net.yml
Owners: @hmcts/platform-operations

fix shutter problem
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
Owners: @hmcts/platform-operations

fix shutter problem (#1462)
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "DTSPO-15147 - shuttering CFT apps for migration (#1451)"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "DTSPO-15147 - shuttering CFT apps for migration (#1451)" (#1463)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Owners: @hmcts/platform-operations

updated apex
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/respond-et-ra-hmcts-net.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Owners: @hmcts/platform-operations

fix
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

updated apex (#1464)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/respond-et-ra-hmcts-net.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Owners: @hmcts/platform-operations

PUB-2117 - Updated DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

PUB-2117 - Updated DNS (#1465)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

PUB-2117 - Updated PIP
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

PUB-2117 - Fix auth pip (#1466)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

update TXT validation records
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/perftest.yml
Owners: @hmcts/platform-operations

update TXT validation records (#1468)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/perftest.yml
Owners: @hmcts/platform-operations

PUB-2117-Domain-Verify
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

PUB-2117 - Updated domains
  environments/demo/demo-platform-hmcts-net.yml
Owners: @hmcts/platform-operations

PUB-2117 - Updated domains (#1469)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

CNAMES for login.prp.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CNAMES for login.prp.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Updated DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

Updated DNS (#1470)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

Update erupload-justice-gov-uk.yml
  environments/prod/erupload-justice-gov-uk.yml
Owners: @hmcts/platform-operations

Update mft-hmcts-net.yml
  environments/prod/mft-hmcts-net.yml
Owners: @hmcts/platform-operations

DTSPO-155486 - Update mft-hmcts-net.yml (#1472)
  environments/prod/mft-hmcts-net.yml
Owners: @hmcts/platform-operations

DTSPO-15486 - Alias erupload for front door premium (#1471)
  environments/prod/erupload-justice-gov-uk.yml
Owners: @hmcts/platform-operations

PUB-2117 - Removed old txt records
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

PUB-2117 - Removed old txt records (#1473)
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Owners: @hmcts/platform-operations

added toffee2 to test
  environments/sandbox.yml
Owners: @hmcts/platform-operations

added toffee2 to test (#1475)
  environments/sandbox.yml
Owners: @hmcts/platform-operations

Revert "added toffee2 to test (#1475)"
  environments/sandbox.yml
Owners: @hmcts/platform-operations

Revert "added toffee2 to test (#1475)" (#1476)
  environments/sandbox.yml
Owners: @hmcts/platform-operations
