Repository hmcts/azure-public-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/cpp-development-admin, @hmcts/juror-digital

Update apps-hmcts-net.yml
  environments/prod/apps-hmcts-net.yml
Owners: @hmcts/platform-operations

Dmp-1646-Darts-DNS-Records (#1498)
  environments/prod/apps-hmcts-net.yml
Owners: @hmcts/platform-operations

Revert "Revert "shutter cft for LAU release (#1494)" (#1495)"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Revert "Revert "shutter cft for LAU release (#1494)" (#1495)" (#1499)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Update claim-employment-tribunal-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "Revert "Revert "shutter cft for LAU release (#1494)" (#1495)" (#1499)"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

unshutter services
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
Owners: @hmcts/platform-operations

Unshutter cft dm store (#1500)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Adding record for cert renewal
  environments/prod/ctsc-hmcts-net.yml
Owners: @hmcts/platform-operations

Removing duplicate record
  environments/prod/ctsc-hmcts-net.yml
Owners: @hmcts/platform-operations

Adding record for cert renewal (#1501)
  environments/prod/ctsc-hmcts-net.yml
Owners: @hmcts/platform-operations

rolling back the darts portal url changes
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/staging/staging.yml
Owners: @hmcts/platform-operations

Shutter for HwF public app
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

Shutter update
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

Hwf shutter v2 (#1505)
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "Hwf shutter v2 (#1505)"
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

Revert "Hwf shutter v2 (#1505)" (#1506)
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Owners: @hmcts/platform-operations

Updated cname of the hmcts-nle-ext frontdoor
  environments/prod/apps-nle-hmcts-net.yml
Owners: @hmcts/platform-operations

Updated cname of the hmcts-nle-ext frontdoor (#1507)
  environments/prod/apps-nle-hmcts-net.yml
Owners: @hmcts/platform-operations

CHG5013944 - F&P Migrate to Flexible Server
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

DTSPO-15902 - replaced FD cname
  environments/prod/apps-hmcts-net.yml
Owners: @hmcts/platform-operations

DTSPO-15902 - replaced FD cname (#1509)
  environments/prod/apps-hmcts-net.yml
Owners: @hmcts/platform-operations

CHG5013944 - F&P Migrate to Flexible Server (#1508)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

CHG5013944 - F&P Migrate to Flexible Server - unshutter pages
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

CHG5013944 - F&P Migrate to Flexible Server - unshutter pages (#1510)
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Adding mta-sts records
  environments/prod/hmcts-net.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Adding smtp_tls record
  environments/prod/hmcts-net.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Adding mta-sts records (#1512)
  environments/prod/hmcts-net.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

add public dns for ngfw poc
  environments/sandbox.yml
Owners: @hmcts/platform-operations

add public dns for ngfw poc (#1513)
  environments/sandbox.yml
Owners: @hmcts/platform-operations

Spash Page Activation
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Splash Page
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Updating record to reflect change in static web app
  environments/prod/hmcts-net.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Updating record to reflect change in static web app (#1516)
  environments/prod/hmcts-net.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

Shutter ExUI on Prod
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

Splash Page (#1515)
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Remove Splash
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

Remove Splash (#1518)
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Owners: @hmcts/platform-operations, @hmcts/juror-digital

added custom domain to be used by CUIRA
  components/prod/manage-your-support-for-hmcts-services.tf
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Owners: @hmcts/platform-operations

Adding blank text record
  environments/prod/platform-hmcts-net.yml
Owners: @hmcts/platform-operations

.github/CODEOWNERS:

* @hmcts/platform-operations

environments/prod/cjscp-org-uk.yml @hmcts/platform-operations @hmcts/cpp-development-admin
environments/prod/hmcts-net.yml @hmcts/platform-operations @hmcts/cpp-development-admin

### JD
environments/prod/reply-jury-summons-service-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
environments/prod/juror-bureau-justice-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
