Repository hmcts/azure-public-dns, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/cpp-development-admin, @hmcts/juror-digital

Missed claims shutter path
  components/prod/claim-employment-tribunals.tf
Owners: @hmcts/platform-operations

Missed courtfines resource name
  components/prod/courtfines.tf
Owners: @hmcts/platform-operations

Updating hearing records to renew certs (#1651)
  environments/prod/hearings-hmcts-net.yml
Owners: @hmcts/platform-operations

Fix formatting in module local
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

removing old comment
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
Owners: none

Fix shuttering for cui-ra
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Owners: @hmcts/platform-operations

Allow A records to be managed by terraform
  components/prod/manage-your-support-for-hmcts-services.tf
Owners: @hmcts/platform-operations

Adding better variable description, updating module code to be more robust and adding example terraform for local playground to understand shuttering
  example/shuttering/example.tf
  example/shuttering/readme.md
  example/shuttering/records.yml
  example/shuttering/shutters.yml
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
  modules/azure-public-dns/variables.tf
Owners: @hmcts/platform-operations

Fix typo
  components/prod/manage-your-support-for-hmcts-services.tf
Owners: @hmcts/platform-operations

formatting terraform example
  example/shuttering/example.tf
Owners: none

Fix shuttering for cui-ra (#1652)
  components/prod/manage-your-support-for-hmcts-services.tf
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Owners: @hmcts/platform-operations

module formatting
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

revert some values to false, env file doesnt show true
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Owners: none

Adding output values for A and CNAME records to see whats actually happening
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

Adding output values for A and CNAME records to see whats actually happening
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

Adding output values for A and CNAME records to see whats actually happening
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

CUIRA-290 unshutter prod
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Owners: @hmcts/platform-operations

SRE-18469 Pointing dns for new onlineplea.prp.cjscp.org.uk certificate
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

SRE-18469 Pointing dns for new onlineplea.prp.cjscp.org.uk certificate (#1656)
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

CUIRA-290 unshutter prod (#1655)
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Owners: @hmcts/platform-operations

Updating records for cert renewal
  environments/prod/hearings-hmcts-net.yml
Owners: @hmcts/platform-operations

Updating records for cert renewal (#1657)
  environments/prod/hearings-hmcts-net.yml
Owners: @hmcts/platform-operations

formatting
  example/shuttering/example.tf
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
Owners: @hmcts/platform-operations

Update plum in prod to false for shuttering based on existing env value
  shuttering/prod/platform-hmcts-net.yml
Owners: none

Adding demo shutter file, revert sandbox back to shutter_all_cname: false
  shuttering/demo/demo-platform-hmcts-net.yml
  shuttering/sandbox/sandbox.yml
Owners: none

Add shuttering to demo component
  components/demo/demo-platform.tf
Owners: @hmcts/platform-operations

remove demo shutter all, set sandbox to false where changes show in tf plan
  shuttering/demo/demo-platform-hmcts-net.yml
  shuttering/sandbox/sandbox.yml
Owners: none

SRE-18473 Adding the required DNS pointing link for onlineplea.cjscp.org.uk.
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

SRE-18473 Adding the required DNS pointing link for onlineplea.cjscp.org.uk. (#1659)
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

SRE-18470 Adding the required DNS pointing links for login.support.cjscp.org.uk.
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

SRE-18470 Adding the required DNS pointing links for login.support.cjscp.org.uk. (#1660)
  environments/prod/cjscp-org-uk.yml
Owners: @hmcts/platform-operations, @hmcts/cpp-development-admin

PUB-2298 - Added TTL
  environments/ithc.yml
Owners: @hmcts/platform-operations

Updated ITHC
  environments/ithc.yml
Owners: @hmcts/platform-operations

PUB-2298 - Verify B2C domains for pip ITHC (#1661)
  environments/ithc.yml
Owners: @hmcts/platform-operations

Removed txt and added back in cname
  environments/ithc.yml
Owners: @hmcts/platform-operations

Removed txt and added back in cname (#1662)
  environments/ithc.yml
Owners: @hmcts/platform-operations

Updated ITHC
  environments/ithc.yml
Owners: @hmcts/platform-operations

Updated ITHC (#1663)
  environments/ithc.yml
Owners: @hmcts/platform-operations

Adding shutter_all setting per DNS Zone, updating module to add functionality in, updating example code to make use of this functionality and updating readmes
  modules/azure-public-dns/locals.tf
Owners: @hmcts/platform-operations

dummy commit
  README.md
Owners: @hmcts/platform-operations

.github/CODEOWNERS:

# CODEOWNERS
# Wildcard starter, all files are owned by PlatOps team
* @hmcts/platform-operations

# More specific rules override the wildcard above, no owner allows anyone to update

## cpp-development-admin
environments/prod/cjscp-org-uk.yml @hmcts/platform-operations @hmcts/cpp-development-admin
environments/prod/hmcts-net.yml @hmcts/platform-operations @hmcts/cpp-development-admin

## juror-digital
environments/prod/reply-jury-summons-service-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
environments/prod/juror-bureau-justice-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital

## Shuttering configuation, no owner allows anyone to update
shuttering/
