Repository hmcts/azure-public-dns, pull requests merged in 2022-12, with the labels that each got.

#1045 Dtspo 11564 adding new ip for Beyond Trust
  1
  components/prod/poc-secure-access.tf
  components/prod/secure-access.tf
  environments/prod/poc-secureaccess-justice-gov-uk.yml
  environments/prod/secureaccess-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1046 survey ssl cert renewal cname updates
  environments/prod/ctsc-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1048 VIH-9520 - Remove Dev DNS
  environments/dev/dev.yml
Labels: nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update, dev-dev/destroy

#1049 DTSPO-11720 Skip Prevent Parallel Runs when running terraform plans
  azure-pipelines.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1050 DTSPO-11656 - DNS Zone cleanup
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1051 Added in config for em-icp
  environments/sandbox.yml
  environments/staging/aat.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/add-or-update, staging-staging/add-or-update

#1052 Privatelaw shutter aat
  environments/staging/aat.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/add-or-update, staging-staging/add-or-update

#1053 Revert "Privatelaw shutter aat"
  environments/staging/aat.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/add-or-update, staging-staging/add-or-update
