Repository hmcts/azure-public-dns, pull requests merged in 2022-09, with the labels that each got.

#958 DTSPO 9692 Initial structure of new centralised pipeline
  README.md
  azure-pipelines.yml
  components/demo/variables.tf
  components/dev/variables.tf
  components/ithc/variables.tf
  components/nle/nle-hmcts-net.tf
  components/nle/nle-platform.tf
  components/nle/variables.tf
  components/prod/variables.tf
  components/sandbox/variables.tf
  components/staging/variables.tf
  components/test/variables.tf
  environments/demo/demo.tfvars
  environments/dev/dev.tfvars
  environments/ithc/ithc.tfvars
  environments/nle/nle.tfvars
  environments/prod/prod.tfvars
  environments/sandbox/sandbox.tfvars
  environments/staging/staging.tfvars
  environments/test/test.tfvars
Labels: test-uksouth-test/no-changes, dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#964 removed additional colon from readme
  README.md
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#965 Add hmi ithc cname
  environments/ithc.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, ithc-ithc/add-or-update

#966 VIH-9331 - Add Public DNS for Dev
  environments/dev/dev.yml
Labels: nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, dev-dev/add-or-update

#967 VIH-9331 - Add Public DNS for VH Lower Environments
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/ithc.yml
  environments/sandbox.yml
  environments/test/test.yml
Labels: nle-nle/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/add-or-update, dev-dev/add-or-update, sandbox-sandbox/add-or-update, test-test/add-or-update

#968 VIH-9331 - Amend Demo environment DNS for VH
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/destroy

#969 Updated to implement splash page for 2.30 release
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#970 Updated to remove splash page after 2.30 release
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#972 Employment Tribunals changes for path to live of citizen based App
  components/prod/claim-employment-tribunals.tf
  components/prod/respond-employment-tribunals.tf
  environments/prod/claim-et-sya-hmcts-net.yml
  environments/prod/respond-et-ra-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#973 Webchat cname updates for ssl cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#974 ET-SYA ITHC records
  environments/ithc.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, ithc-ithc/add-or-update

#976 pre-stg1-S28-827
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#977 VIH-9999 - Update Dev Wowza
  environments/dev/dev.yml
Labels: nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, dev-dev/destroy

#978 shutter all prod to true
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/claim-et-sya-hmcts-net.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#979 Revert "shutter all prod to true"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/claim-et-sya-hmcts-net.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#980 VIH-9999 - add staging.hearings.reform.hmcts.net
  components/staging/hearings-reform.tf
  environments/staging/hearings-reform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, prod-prod/no-changes, demo-demo/no-changes, staging-staging/add-or-update

#983 Display Bureau splash page
  environments/prod/juror-bureau-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#982 Display public splash page
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#985 Remove bureau splash pages
  environments/prod/juror-bureau-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#986 Remove public splash page
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#987 Set lock to false when running terraform plan
  azure-pipelines.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes
