Repository hmcts/azure-public-dns, pull requests merged in 2023-06, with the labels that each got.

#1228 Updating renovate config
  .github/renovate.json
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#1229 SRE-15378/15379 - to add temp CNAMEs to get SSL certs for 3 cjscp.org…
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1230 splash for 34
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1233 SRE-15378/15379 - to add email-client DNS A records for IDAM NLV endp…
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1234 SRE-15561 - Renew cpp-sit.nftpr1.cjscp.org.uk - Added CNAMES
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1235 SRE-15561 - Renew prosecuting.prx.cjscp.org.uk - Added CNAMES
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1237 SRE-15561 - Renew cpp-sit.nftpr1.cjscp.org.uk - Fixed CNAMES
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1247 Splash page for outage
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1249 remove SP
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1251 Import hearings reform hmcts net
  components/prod/hearings-reform-hmcts-net.tf
  environments/prod/hearings-reform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1253 Update cjscp-org-uk.yml
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1254 Adding DARTS portal prod CNAME record
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1255 DTSPO-13990 testing frontdoor migration
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1252 JRD - eLinks Tactical Solution Release 1.0.0 Release Implementation P…
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1256 elinks tactical solution release unshutter
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1257 DTSPO-13990 Updating dns for migrated test frontdoor
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update
