Repository hmcts/azure-public-dns, pull requests merged in 2023-11, with the labels that each got.

#1442 PUB-2117 - Updated public DNS for PIP
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/add-or-update

#1439 Update apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1438 Add netbox-sandbox to SDS sbox Front Door
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1447 Sandbox: Fix netbox sandbox instance
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1445 Add Netbox PTL public DNS to prod Front Door
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1449 Change sandbox netbox to use dnsauth from afdverify
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1452 added cui cname to demo, ithc and perftest
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Ithc/add-or-update, Test/add-or-update

#1453 added TXT validation for azure FD
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Staging/no-changes, Dev/no-changes, Prod/add-or-update, Sandbox/add-or-update, Demo/add-or-update, Ithc/add-or-update, Test/add-or-update

#1454 feat: shutter all CFT services for LAU migration
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1455 C UI ra txt
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1456 fix dns record for cui-ra
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/destroy

#1457 C UI ra txt
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy, Test/destroy

#1458 adding afdverify to test if the APEX would work
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1459 Revert "adding afdverify to test if the APEX would work"
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1450 DTSPO-15149_shutter APEX domain prepare migration
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1460 updated APEX domains to point to new SDS FD
  environments/prod/certificatedbailiffs-justice-gov-uk.yml
  environments/prod/courtfines-direct-gov-uk.yml
  environments/prod/immigrationappealsonline-justice-gov-uk.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
  environments/prod/tribunalsdecisions-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1461 updated all the domain endpoints to new FD
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/ejudiciary-net.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1451 DTSPO-15147 - shuttering CFT apps for migration
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1462 fix shutter problem
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1463 Revert "DTSPO-15147 - shuttering CFT apps for migration"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1464 updated apex
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/respond-et-ra-hmcts-net.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1465 PUB-2117 - Updated DNS for PIP
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/add-or-update

#1466 PUB-2117 - Fix auth pip
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/add-or-update

#1468 update TXT validation records
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/add-or-update

#1469 PUB-2117 - Updated domains
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy, Test/destroy

#1470 PUB-2117 - Updated DNS
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/add-or-update

#1472 DTSPO-155486 - Update mft-hmcts-net.yml
  environments/prod/mft-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1471 DTSPO-15486 - Alias erupload for front door premium
  environments/prod/erupload-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1473 PUB-2117 - Removed old txt records
  environments/demo/demo-platform-hmcts-net.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy, Test/destroy

#1475 added toffee2 to test
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1476 Revert "added toffee2 to test"
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1477 CNAME for apigw.prp
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1479 remove this record as its managed by other repo
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1481 DTSPO-15720 - removed TXT records
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Test/destroy

#1480 CNAME for apigw.nft.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1484 CNAMES for prod and dev apigw
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1486 Adding CNames for Dev07
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1483 SRE-17360 adding DNS records for rota.prp.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1485 Add Opal frontend
  environments/dev/dev.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update, Dev/add-or-update

#1490 Adding A-Records for Dev07
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1478 Add juror public to demo & staging
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Staging/add-or-update, Demo/add-or-update

#1491 Remove unneeded DNS entries
  environments/prod/juror-bureau-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1493 Replaced record for the heritage nle-int frontdoor
  environments/prod/apps-hmcts-net.yml
  environments/prod/apps-nle-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1494 shutter cft for LAU release
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1496 DMP-1646-darts-portal-url-change
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Prod/destroy, Sandbox/destroy, Dev/destroy, Demo/destroy, Staging/destroy

#1498 Dmp-1646-Darts-DNS-Records
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1500 Unshutter cft dm store
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: Dev/no-changes

#1501 Adding record for cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1506 Revert "Hwf shutter v2"
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1507 DTSPO-15899 Updated cname of the hmcts-nle-ext frontdoor
  environments/prod/apps-nle-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1509 DTSPO-15902 - replaced FD cname
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1508 CHG5013944 - F&P Migrate to Flexible Server - DO NOT MERGE
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1510 CHG5013944 - F&P Migrate to Flexible Server - unshutter pages - DO NOT MERGE
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1512 Adding mta-sts records
  environments/prod/hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1513 add public dns for ngfw poc
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update
