Repository hmcts/azure-public-dns, pull requests merged in 2023-12, with the labels that each got.

#1515 Splash Page
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1518 Remove Splash
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1523 Adding mailrelay record
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1520 added custom domain to be used by CUIRA
  components/prod/manage-your-support-for-hmcts-services.tf
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1527 DIAC-113 - demo shutter test
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1528 DIAC-113 - demo unshutter test
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1536 removed www
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1526 DIAC-113 - prep to shutter frontend DO NOT MERGE
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: do not merge, nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1531 DIAC-113 prep to unshutter immigration prod DO NOT MERGE
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1545 DTSPO-16106 - DNS change for survey.preprod and .survey.training SSL …
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1546 ST Add apex config
  environments/prod/special-tribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1547 Update special-tribunals.tf
  components/prod/special-tribunals.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1551 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update
