Repository hmcts/azure-public-dns, pull requests merged in 2023-02, with the labels that each got.

#1067 Update to shutter aip service for WA r3.5 release
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1075 Updates to un-shutter IA AIP service
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1076 Add toffee FD cname record
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1077 Remove conflicting toffee A record
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1080 Adding in cert for wildcard record
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1079 Manage remaining fe apps with public dns in SDS Demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/destroy

#1081 dns changes for fis-ds-update-web
  environments/staging/aat.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, prod-prod/no-changes, staging-staging/add-or-update

#1078 Update PRL Change to the URL for Child Arrangements
  components/prod/apply-to-court-about-child-arrangements-c100.tf
  components/prod/childarrangement-familyinjunction.tf
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/destroy
