Repository hmcts/azure-public-dns, pull requests merged in 2023-08, with the labels that each got.

#1303 Add FD entries for redirect
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Sandbox/add-or-update, Prod/destroy

#1305 Migration to new shutter solution
  environments/prod/platform-hmcts-net.yml
  modules/azure-public-dns/cname_record.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1306 DTSPO-13833 updating pat-token to use SP-token
  azure-pipelines.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1307 Remove cdn entries
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1308 remove cdn-shutter records
  environments/ithc.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-service-justice-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/residential-property-tribunals-service-gov-uk.yml
  environments/prod/respond-et-ra-hmcts-net.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/destroy, Ithc/destroy, Sandbox/destroy

#1309 disable shutter for plum
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1311 Update dev public dns name
  environments/dev/dev.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/no-changes, Dev/destroy

#1314 Test MS Email communications
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1317 Update aat.yml
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/no-changes, Staging/add-or-update

#1318 DTSPO-14955 - DNS updates for verint SSL cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1319 Dtspo 14955
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1320 SRE-16346 Add A-records to expose Dev03 external
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1324 cert renewal for api.sit SRE-16574
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1326 Sre 16476
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Dev/add-or-update
