Repository hmcts/azure-public-dns, pull requests merged in 2023-05, with the labels that each got.

#1198 remove records which has been added for certs
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1197 Update ejudiciary-net.yml
  environments/prod/ejudiciary-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1201 Added CNAME and A record for tools.hmcts.net domain
  environments/prod/hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1202 fixed formatting of the txt cnames
  environments/prod/hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1203 Add crime team to CODEOWNERS for hmcts.net
  .github/CODEOWNERS
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes

#1205 Shutter Money Claims test
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1206 Removing 'shutter: true' from money-claims Demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1207 Remove PRE dev entry
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1208 Re-add PRE dev entry pointing to powerappsportals
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1209 Change PRE sbox entry to point to powerappsportals
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1210 Change PRE dev entry to point to front door
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1212 Splunk and SecOps Cert Renewal (Secops-3937)
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1214 Update sandbox.yml
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1213 Special Tribunals DNS path to live citizen app
  components/prod/special-tribunals.tf
  environments/prod/special-tribunals-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1215 DTAPO-13641 - Add public DNS records for Application Gateways
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/ithc.yml
  environments/sandbox.yml
  environments/test/test.yml
Labels: nle-nle/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes, ithc-ithc/add-or-update, dev-dev/add-or-update, sandbox-sandbox/add-or-update, test-test/add-or-update

#1218 Update sandbox.yml
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1220 DTSPO-13353- Testing oauth2 proxy on sandbox
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1199 CIV-490: Shutter money-claims
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1224 CIV-490: Un-Shutter money-claims
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1223 Enable ST shuttering in Prod
  environments/prod/special-tribunals-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1225 Create CNAME record for sptribs-frontend in Perftest
  environments/test/test.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, test-test/add-or-update

#1226 sptribs-frontend public dns definitions
  environments/test/perftest.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, test-test/add-or-update

#1227 SRE-15378 - to use new signed cert login.sit... to include email-client
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy
