Repository hmcts/azure-public-dns, pull requests merged in 2023-09, with the labels that each got.

#1327 Adding new LB IP
  environments/prod/hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1328 Juror Digital LIVE Certificate renewal
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1329 Remove splash pages
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/no-changes

#1330 Show splash pages for certificate renewal
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1331 Remove splash pages
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/no-changes

#1332 Add PRE portal DNS records
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/sandbox.yml
  environments/staging/staging.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Prod/add-or-update, Sandbox/add-or-update, Staging/add-or-update, Demo/add-or-update, Test/add-or-update, Dev/add-or-update

#1334 add in dns zones
  components/prod/appeal-tax-tribunal.tf
  components/prod/employmenttribunals.tf
  components/prod/helpwithcourtfees.tf
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1335 PUB-2124 - Added DNS for pip
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/no-changes, Sandbox/add-or-update

#1333 Add PRE record to prod
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1340 Update DNS for non prod HWF
  environments/dev/dev.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update, Dev/add-or-update

#1342 Switch HWF staff container app to live
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1343 Add more record types to hwf
  components/prod/helpwithcourtfees.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1344 Shutter hwf public properly
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1341 Switch HWF prod to Az container apps
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1345 Cakeben patch 1
  components/prod/appeal-tax-tribunal.tf
  components/prod/employmenttribunals.tf
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1346 Update appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1347 Update aat.yml
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update

#1348 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/no-changes, Demo/add-or-update

#1351 Update employmenttribunals-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Dev/destroy

#1350 DTSPO-15067 - webchat and webchat-client SSL cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1353 test et
  environments/prod/employmenttribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1355 add HWF to aat and demo
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/no-changes, Staging/add-or-update, Demo/add-or-update

#1356 Update ithc.yml
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1357 added custom domain for plumclassic
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1358 Switch appeal-tax-tribunal.service.gov.uk to live
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1359 feat: added crime portal public dns
  environments/nle.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, nle/add-or-update

#1360 Update helpwithcourtfees-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1361 add cft perftest apim appgw
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Test/add-or-update

#1362 Update dns for cft-apim-perftest appgw
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/no-changes, Test/add-or-update

#1363 SRE-17003 Adding CNames for email authentication
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1366 Add DNS records for Glimr
  environments/nle.yml
  environments/prod/apps-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, nle/add-or-update

#1367 added another subdomain to test
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/no-changes, Sandbox/add-or-update

#1368 added public dns zone to run frontdoor tests
  components/sandbox/frontdoor-sbox-hmcts.tf
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1369 updated zone name
  components/sandbox/frontdoor-sbox-hmcts.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/no-changes, Sandbox/destroy

#1370 added ns records
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/no-changes, Sandbox/add-or-update

#1371 DTSPO-15067 - update shutter pages for juror bureau and reply jury su…
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1372 added A record
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1374 updated premium id to classic id
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update
