Repository hmcts/azure-public-dns, pull requests merged in 2023-10, with the labels that each got.

#1376 adding cname record for the frontdoor test
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1377 updated alia target
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1378 Renewal of wfmapp certs
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1379 update the public ip for the PRP Atl stack
  environments/prod/hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1383 SRE-17132 - CNAME for cert renewal - prosecuting.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1384 IJPS-116: deploy JPS services into demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1385 DTSPO-15148/DTSPO-15146 - Update classic fd record
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/dev/preview.yml
  environments/ithc.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/sandbox.yml
  environments/test/perftest.yml
  environments/test/test.yml
Labels: nle/no-changes, Staging/no-changes, Prod/add-or-update, Sandbox/add-or-update, Demo/add-or-update, Ithc/add-or-update, Test/add-or-update, Dev/add-or-update

#1386 DTSPO-15147 updated domain and pointed to migrated frontdoor
  environments/staging/aat.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update

#1389 add CNAMEs for the issuance of certs
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1393 DTSPO-15148 dev frontdoor is now migrated
  environments/dev/dev.yml
  environments/prod/casetracker-justice-gov-uk.yml
  environments/prod/certificatedbailiffs-justice-gov-uk.yml
  environments/prod/courtfines-direct-gov-uk.yml
  environments/prod/immigrationappealsonline-justice-gov-uk.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Test/add-or-update, Dev/add-or-update

#1394 fixing dev error
  environments/dev/dts-legacy-apps.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Dev/add-or-update

#1395 FPET-606-enabled shutter for adoption-web in demo env
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1396 DTSPO-15148 - updated frondoor record for SDS STG
  environments/dev/dts-legacy-apps.yml
  environments/prod/casetracker-justice-gov-uk.yml
  environments/prod/certificatedbailiffs-justice-gov-uk.yml
  environments/prod/courtfines-direct-gov-uk.yml
  environments/prod/immigrationappealsonline-justice-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/staging/dts-legacy-apps.yml
  environments/staging/hearings-hmcts-net.yml
  environments/staging/hearings-reform-hmcts-net.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update, Dev/add-or-update

#1391 Adoption-DNS-Creation-added entry for adoption public beta release
  components/prod/apply-to-adopt-a-child-placed-in-your-care.tf
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1400 CNAMEs for prosecuting.prp cert renewal
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1402 DTSPO-15318: Remove A record, add front door CNAME
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1399 Add nfdiv demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1403 DTSPO-15318: Update to sds front door
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1404 DTSPO-15318: Add public dns for static sds sbox jenkins to front door
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1406 DTSPO-15318: Remove conflicting A record
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1405 DTSPO-15485 - Move heritage stg to premium frontdoor
  environments/prod/mft-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1407 Added ithc for et-pet
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1408 Validate dns for et-pet in ithc
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1409 Add TXT record for nfdiv demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1410 Correct TXT record for nfdiv demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1411 New TXT record for nfdiv demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1412 Dtspo 15318 add cname for front door sds jenkins
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1414 DTSPO-15485 - Validate eruploadtest-justice-gov-uk for premium frontdoor
  environments/prod/eruploadtest-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1413 DTSPO-15318: Add cft jenkins cname records
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1416 Adding CNAME entries as required for GoldenPath lab guide - mfox
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1415 Adding CUI domain
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1417 Added txt record for b2c to verify domain
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1418 Goldpath doc out of date, updating CNAME to new format - mfox
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Prod/add-or-update, Sandbox/destroy, Demo/add-or-update

#1419 shutter all CFT apps
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1423 Front Door TXT record validation test
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Prod/add-or-update, Sandbox/add-or-update, Demo/add-or-update

#1424 Records do not need the fqdn for name
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Prod/add-or-update, Sandbox/destroy, Demo/add-or-update

#1425 Removing CMC and CUI
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1426 Adding CMC and CUI
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1427 Temp remove cname for pip demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1428 Removed txt for pip demo and added cname
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1431 Adding TXT validation record for CUI and OCMC
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1429 Removing changes to undo lab infrastructure
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1432 Update apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1433 Updating TXT validation record for CUI
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1430 Create a dns zones and dns record for apps.hmcts.net
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1434 Added txt for b2c verify and temp removed pip-frontend in test
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update, Test/destroy

#1435 Removed txt and added back cname pip test
  environments/test/test.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Test/destroy

#1436 added missing dns records for frontdoor app
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1437 SRE-17302 - CNAME for the renewal of api.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1422 Do not merge - PUB-2189 - Shutter PIP - Migration
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1441 PUB-2189 - Unshutter pip
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update
