Repository hmcts/azure-public-dns, pull requests merged in 2023-03, with the labels that each got.

#1083 Remove shutter for CaTH
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: do not merge, dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1086 Unshutter CaTH
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1085 HMIS-1142 - Setting up demo env
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1087 Update sandbox.yml
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes, sandbox-sandbox/add-or-update

#1088 Removing config to fix build
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/destroy

#1089 Hackaton test lab
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1091 Update sandbox.yml
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1092 Tyler-goldenpath-cleardown
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/destroy

#1093 update-public-dns-name
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/destroy

#1090 IJPS-2 Add Judicial Payments AAT
  environments/staging/aat.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, prod-prod/no-changes, demo-demo/no-changes, staging-staging/add-or-update

#1096 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1097 Hackaton test lab cleanup
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/destroy

#1099 clean-up-hackaton-lab
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/destroy

#1098 Add plum DNS record for frontdoor
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1100 Added DSS Update case application on Non Prod environments
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/staging/aat.yml
  environments/test/perftest.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, demo-demo/add-or-update, prod-prod/no-changes, ithc-ithc/add-or-update, test-test/add-or-update, staging-staging/add-or-update

#1101 Add front door DNS entries for demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1102 VIH-9778 - Add ITHC Public DNS
  environments/ithc.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, ithc-ithc/add-or-update

#1104 Change dss-update to cft
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, prod-prod/no-changes, demo-demo/no-changes, staging-staging/add-or-update

#1105 Add paymentoutcome-web www record
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1106 Move first apps
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1111 DTSPO-11734 - renovate - set schedule
  .github/renovate.json
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#1112 switch hmi to cft
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1109 Add portal-dev to pre-recorded-evidence-justice-gov-uk.yaml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1115 Migrate first batch of fe apps
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1117 Adding DARTS portal DNS records
  environments/demo/demo-platform-hmcts-net.yml
  environments/dev/dev.yml
  environments/staging/staging.yml
Labels: nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, prod-prod/no-changes, dev-dev/add-or-update, staging-staging/add-or-update

#1119 Adding record for cert renewal
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1120 in order to fix the ns lookup issue
  components/prod/prod-internal-hmcts.tf
  components/staging/staging-internal-hmcts.tf
  environments/staging/staging-internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, prod-prod/no-changes, demo-demo/no-changes, staging-staging/add-or-update

#1121 Adding dev records for renewal
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/add-or-update, staging-staging/add-or-update

#1124 added internal zone
  components/prod/internal-hmcts.tf
  environments/prod/internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1126 Add second batch DNS records to FD
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1125 feat: added NS record for prod and staging subdomains
  environments/prod/internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1128 Adding SIP record
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1129 Updating test.self-test
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, sandbox-sandbox/no-changes, demo-demo/no-changes, ithc-ithc/add-or-update, test-test/add-or-update, prod-prod/add-or-update, staging-staging/add-or-update

#1130 Adding sip.test 2 record
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1132 feat: added NS record for internal subdomain
  environments/prod/hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1131 Add third batch demo apps DNS
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1134 Add IDAM wp and wa dns
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1136 Updated to remove splash page after 3.3 release
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1137 Remove conflicting txt record
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1138 Adding hearings records
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1139 Add next batch DNS records
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1141 Adding preprod links
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1142 Adding records
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1144 DTSPO-11734 - renovate - use global presets
  .github/renovate.json
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update, chore

#1146 Remove invalid record
  environments/prod/cjscp-org-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1147 Adding records for new certs
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update
