Repository hmcts/azure-public-dns, pull requests merged in 2023-01, with the labels that each got.

#1057 Private law DNS setup
  components/prod/childarrangement-familyinjunction.tf
  environments/prod/childarrangement-familyinjunction-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/destroy

#1059 VIH-9446 - Add PR DNS Temporary
  environments/dev/dev.yml
Labels: nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, dev-dev/add-or-update

#1060 Shutter ExUI - for Civil
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1061 Revert "Shutter ExUI - for Civil"
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1062 adding rpts to demo and perftest.yml
  environments/test/perftest.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes, test-test/add-or-update

#1064 Updating CNAME for sandbox
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes, sandbox-sandbox/add-or-update

#1065 CHG5010867 - shutter paybubble page
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1069 VIH-9642 - Amend Demo Public DNS VH
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/destroy

#1070 VIH-9642 - add demo public dns
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/destroy

#1071 public dns for plum-public.demo.platform.hmcts.net
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1072 Updated weighting percentages in order to display splash screens
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1073 Remove splash page
  environments/prod/juror-bureau-justice-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update

#1074 Remove public splash page
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/add-or-update
