Repository hmcts/azure-public-dns, pull requests merged in 2023-04, with the labels that each got.

#1150 Create hmcts.net DNS zone
  components/prod/hmcts-net.tf
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1151 Remove invalid records for hmcts.net
  environments/prod/hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#1154 Add Cpp leads to CODEOWNERS for cjscp.org.uk
  .github/CODEOWNERS
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes

#1155 Remove dead zones
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1156 Adding test record
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1157 Adding records for admin-hearings
  environments/prod/hearings-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1158 feat: added CNAME for data-analytics cert
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1159 DTSPO-11734 - renovate - add schema
  .github/renovate.json
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, chore

#1160 Adding dev sip records
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1161 Adding vh-admin records
  environments/prod/hearings-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1163 Add DNS for beta vpn
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1165 removed old non-prod setup for sscs
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1168 DTSPO-12511 - Add safe settings
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1169 shutter paybubble
  environments/prod/platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1172 Adding DNS for DARTS portal in sandbox
  environments/sandbox.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, test-test/no-changes, staging-staging/no-changes, prod-prod/no-changes, demo-demo/no-changes, sandbox-sandbox/add-or-update

#1162 DTSPB-3351 Shutter Probate frontend
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1173 Revert "DTSPB-3351 Shutter Probate frontend"
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1176 DTSPO-13508 Comment out demo records and improve for next time...
  environments/demo/demo-platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
  modules/azure-public-dns/mx_record.tf
  modules/azure-public-dns/ns_record.tf
  modules/azure-public-dns/srv_record.tf
  modules/azure-public-dns/txt_record.tf
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/destroy, prod-prod/add-or-update

#1177 DTSPO-13508 Restore demo DNS records
  environments/demo/demo-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/add-or-update, staging-staging/no-changes, prod-prod/no-changes

#1174 New DNS for vh-user-api
  environments/prod/hearings-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1178 self-test & join.self-test hearings.hmcts.net
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1179 remove record from prod - add record to stg
  environments/prod/hearings-hmcts-net.yml
  environments/staging/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/destroy, staging-staging/add-or-update

#1182 re-add cname record to prod yaml
  environments/prod/hearings-hmcts-net.yml
  environments/staging/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, demo-demo/no-changes, prod-prod/add-or-update, staging-staging/destroy

#1184 Add ejudiciary.net DNS
  components/prod/ejudiciary-net.tf
  environments/prod/ejudiciary-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1185 renew more Pexip certificates
  environments/prod/hearings-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1188 Removal of DomainConnect Record to 123Reg
  environments/prod/ejudiciary-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1190 DNS Record to be Removed - OWA
  environments/prod/ejudiciary-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/destroy

#1180 DTSPB-3518 Shutter Probate Prod
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1194 Revert "DTSPB-3518 Shutter Probate Prod"
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update

#1171 added records temporarily to request certs
  environments/prod/prod-internal-hmcts-net.yml
Labels: dev-dev/no-changes, nle-nle/no-changes, ithc-ithc/no-changes, sandbox-sandbox/no-changes, test-test/no-changes, staging-staging/no-changes, demo-demo/no-changes, prod-prod/add-or-update
