Repository hmcts/azure-public-dns, pull requests merged in 2024-07, with the labels that each got.

#1797 feat: added darts-proxy.platform.hmcts.net public dns to point to CG WAF
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1799 Added Cname record
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1806 Remove unused PRE records
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1801 Shutter on for mod bureau and public
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1802 DRAFT - DO NOT MERGE YET - Shutter on for legacy bureau and public
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1803 DRAFT - DO NOT MERGE YET - Reconfigure shutterring on public facing url
  environments/prod/reply-jury-summons-service-gov-uk.yml
  shuttering/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1810 DRAFT - DO NOT MERGE YET - unshutter bureau app
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1812 DRAFT - do not merge yet - remove shutter on public
  shuttering/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1813 ET Respond FE
  components/prod/respond-employment-tribunals.tf
  environments/demo/demo-platform-hmcts-net.yml
  environments/prod/respond-et-syr-hmcts-net.yml
  environments/staging/aat.yml
  shuttering/prod/respond-et-syr-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/destroy, Staging/add-or-update, Demo/add-or-update

#1814 Update ithc.yml
  environments/ithc/ithc.yml
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update, Ithc/add-or-update

#1809 Remove unused PRE records
  environments/prod/platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1818 Adding records for cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1819 Applying final record
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1820 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update
