Repository hmcts/azure-public-dns, pull requests merged in 2024-03, with the labels that each got.

#1625 DTSPO-16903 - remove unused labs
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1626 pointing dns for prosecuting.nft.cjscp.org.uk, SRE-18231
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1630 Dtspo 16109 update readme
  README.md
  sync-zones-pipeline.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1631 RefData Flexible Server Migration - Shutter all CFT services - DO NOT…
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1633 Update shutter services for CHG5015455
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1634 Unshutter services for CHG5015455
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1632 Update cui prod dns
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1635 Shutter plum test
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1636 cui-290 enable shuttering on demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1637 unShutter plum test
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1638 Shutter plum test
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1639 Shutter plum test
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1640 CHG5015453 - shutter - DO NOT MERGE
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1641 CHG5015453 - unshutter - DO NOT MERGE
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1644 Cuira 290
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1645 DTSPO-16867 - platform-hmcts-net SSL cert renewal
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1647 Cuira 290
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1649 Shutter cui-ra
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1650 Shutter cui-ra
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1651 Updating hearing records to renew certs
  environments/prod/hearings-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1652 Fix shuttering for cui-ra
  components/prod/manage-your-support-for-hmcts-services.tf
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1656 SRE-18469 Pointing dns for new onlineplea.prp.cjscp.org.uk certificate
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1657 Updating records for cert renewal
  environments/prod/hearings-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1660 SRE-18470 Adding the required DNS pointing links for login.support.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1663 PUB-2298 - Updated ITHC for pip
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1665 CUIRA shutter for testing purposes
  shuttering/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1666 CUIRA unshutter cuira prod
  shuttering/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1667 Shutter pre demo
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1668 unshutter PRE demo
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1672 Testing plum shuttering
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1673 Revert "Testing plum shuttering"
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1674 Shutter all services for bsp bulk print release
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1677 Revert "Shutter all services for bsp bulk print release"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1676 Shutter PRE prod (new portal)
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1678 Shutter PRE demo (old portal)
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update
