Repository hmcts/azure-public-dns, pull requests merged in 2024-09, with the labels that each got.

#1839 Deploy et-syr on azure public dns ahead of perf and ithc tests
  environments/ithc/ithc.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update, Test/add-or-update

#1842 Remove IDAM Dangling CNAME
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1844 DTSPO-18917 - adding TXT record to revalidate the domain
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update

#1845 DTSPO-18917 - Updated TXT record
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1843 VIH-10968 remove redundant cvp public dns records
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox.yml
  environments/staging/aat.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Demo/no-changes, Prod/destroy, Sandbox/destroy, Staging/destroy

#1847 Added Cname record
  environments/ithc/ithc.yml
  environments/test/perftest.yml
Labels: nle/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update, Ithc/add-or-update, Test/add-or-update

#1849 SSCSCI-1039
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc.yml
  environments/staging/aat.yml
  environments/test/perftest.yml
Labels: Sandbox - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update, Test - TerraformPlanApply/add-or-update, Ithc - TerraformPlanApply/add-or-update

#1850 Updating records for DNS
  environments/prod/ctsc-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/add-or-update, Prod - TerraformPlanApply/destroy

#1853 Adding validation TXT record for idam user dashboard staging
  environments/staging/aat.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1852 Shutter OCMC and CUI services
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1854 Unshutter OCMC and CUI services
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1855 Updating idam staging validation record value
  environments/prod/apps-hmcts-net.yml
  environments/staging/aat.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/destroy
