Repository hmcts/azure-public-dns, pull requests merged in 2024-08, with the labels that each got.

#1824 DTSPO-18453: add apim appgw A record for demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1828 Add A record for aat apim appgw
  environments/staging/aat.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update

#1829 DTSPO-18493 - Golden path nodejs refresh
  environments/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1833 cnames for certs
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1838 Updating records for cert renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy
