Repository hmcts/azure-public-dns, pull requests merged in 2024-04, with the labels that each got.

#1679 Adding A Records for Firewall Testing
  environments/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1680 Unshutter PRE demo
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1681 remove demo shuttering as its not used
  components/demo/demo-platform.tf
  shuttering/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1683 feat-darts-proxy-demo
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1685 Hearings records for new certs
  environments/prod/hearings-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1687 feat: update GLiMR DNS
  environments/prod/apps-hmcts-net.yml
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1694 juror: test shuttering in ithc
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1695 feat: DNS verification for pih4171sec004
  environments/prod/prod-internal-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1699 Updating records for new cert
  environments/prod/platform-hmcts-net.yml
  environments/prod/prod-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1702 feat: update GLiMR DNS records for staging
  environments/prod/apps-hmcts-net.yml
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1692 CHG5015777 - shuttering Thursday 18th April DO NOT MERGE
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1703 Revert "CHG5015777 - shuttering Thursday 18th April DO NOT MERGE"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1701 Ammending records
  environments/prod/prod-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1706 SRE-18716 and 18711 adding cname for tools.hmcts.net and tools.prp.hmcts.net
  environments/prod/hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1700 juror: remove test shuttering
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1710 Adding DNS records for civil sendgrid authorization to platform.hmcts.net
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1711 mistake in s2._domainkey record name
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1712 SECOPS TLS CERTS - SECOPS 5524
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy
