Repository hmcts/azure-public-dns, pull requests merged in 2024-01, with the labels that each got.

#1556 feat: added DNS for crimeportal.staging.apps.hmcts.net
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1562 feat: enable shuttering of APEX domains & fix child adoption shuttering
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  modules/azure-public-dns/a_record.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1563 Adding HwF to ITHC
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/add-or-update

#1564 HwF - Fixing dns name for ITHC env
  environments/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/destroy

#1565 SDT-115: Add prod CFT App Gateway record
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1566 DMP-1875-Darts-ITHC-Test-Envs
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1567 FPET-831-shutter hmcts.net and un-shutter gov.uk
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1571 Add perftest Application Gateway CNAME record
  environments/test/perftest.yml
Labels: nle/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Test/add-or-update

#1572 convert Juror to use apps
  environments/demo/demo-platform-hmcts-net.yml
  environments/staging/staging.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy, Staging/destroy

#1552 CIV-10543 Shutter money claims domains
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1555 CIV-10543 UnShutter money claims domain both www and www1
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1573 CIV-10543 UnShutter money claims domain both www and www1
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1560 DTSPB-3705 Unshutter Probate Prod
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1575 DTSPO-15778: Add backstage CNAME to front door
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1574 JRD - eLinks API Integration Rel 1.0.0 - shutter - please do not merge
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1576 jrd-elinks-api-integration-rel1-0-0 - un-shutter
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1579 add dns zone
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1580 adding new dns zone
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1581 Shutter Tax Tribunals
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1583 Rsi oz lab
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1584 shutter pages for OOH db migration
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1585 Revert "shutter pages for OOH db migration"
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1587 Adding records for nft02,onlineplea.nft02
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1592 fixing DNS entries for nft02.cpp, nft02.cpp
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1593 add sdrs dns zone
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1591 Shutter SYA and MYA for flexiserver upgrade
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1594 Revert "Shutter SYA and MYA for flexiserver upgrade"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1553 FPET-606-Enabled shutter for Adoption hmcts.net domain
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1590 Added sdrs dns
  environments/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1554 FPET-606-disabled shutter for adoption gov.uk domain
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1595 feat: added sdrs.platform.hmcts.net records
  environments/nle.yml
  environments/prod/platform-hmcts-net.yml
Labels: Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, nle/add-or-update
