Repository hmcts/azure-public-dns, pull requests merged in 2024-11, with the labels that each got.

#1899 DTSPO-19438 : renew rota.prp.cjscp.org.uk SSL Cert used on PRP WAFs
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#1900 Update staging-apps-hmcts-net.yml
  environments/staging/staging-apps-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1901 Add apex record for appeal-infected-blood-compensation-decision.service.gov.uk
  environments/prod/appeal-infected-blood-compensation-decision-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1903 Adding pcs-frontend to the external dns
  environments/staging/aat.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1906 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1907 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1905 CHG5018936: Shutter CFT for IDAM Release 9.9.0
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1909 Revert "CHG5018936: Shutter CFT for IDAM Release 9.9.0"
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1908 Create juror-er-test dns record to heritage fd
  environments/staging/staging-apps-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#1911 Updating record for renwal
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#1912 Update perftest.yml
  environments/test/perftest.yml
Labels: Sandbox - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Test - TerraformPlanApply/add-or-update

#1913 HDPI-47 - Adding the public DNS routing for PCS frontend application
  environments/ithc/ithc.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Ithc - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1914 New erupload URL in apps.hmcts.net
  environments/prod/apps-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1915 DTSPO-22585 - pointed to atlassian staging public ip
  environments/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1916 DTSPO-22537 - Renew onlineplea.dev07.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1919 Shutter appeal-infected-blood-compensation-decision-service-gov-uk
  shuttering/prod/appeal-infected-blood-compensation-decision-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1921 DTSPO-22537 - Renewing onlineplea.dev07.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#1922 Shutter appeal-infected-blood-compensation-decision-service-gov-uk
  shuttering/prod/appeal-infected-blood-compensation-decision-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update
