Repository hmcts/azure-public-dns, pull requests merged in 2024-05, with the labels that each got.

#1715 Corrections to TLS Certs
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1707 CHG5015842: shuttering MONDAY 2nd May DO NOT MERGE
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1718 Revert "CHG5015842: shuttering Thursday 2nd May DO NOT MERGE"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1721 DTSSTCI-260
  environments/ithc/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/destroy

#1722 shutter on
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1723 shutter off
  shuttering/prod/apps-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1724 Shutter PRE Prod
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1726 Revert "Shutter PRE Prod"
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1727 Add www record for PRE
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1728 Update pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1725 DTSSTCI-260
  environments/ithc/ithc.yml
Labels: nle/no-changes, Test/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Ithc/destroy

#1735 SRE-18747 Adding C-Names for test Idam env
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1734 Shutter Plum in sandbox
  shuttering/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1708 DTSPB-3993 Probate Frontend Shutter Prod
  environments/prod/apply-for-probate-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1736 DTSPB-3993 shutter Probate Frontend
  shuttering/prod/apply-for-probate-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1709 Dtspb 3993 unshutter probate frontend
  environments/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1738 DO NOT MERGE - 16th MAY - CHG5016189 - shuttering all apps for HMC migration
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1739 Revert "DO NOT MERGE - 16th MAY - CHG5016189 - shuttering all apps for HMC migration"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1740 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1743 Revert "INC5613260 - shutter all CFT services"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1720 DTSSTCI-260 - DO NOT MERGE UNTIL RELEASE DAY 21/05
  environments/prod/special-tribunals-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1746 Update dev.yml
  environments/dev/dev.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Dev/destroy

#1745 CHG5016403 - shuttering all apps on 22nd May 2024
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/appeal-tax-tribunal-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/courttribunalfinder-service-gov-uk.yml
  shuttering/prod/employmenttribunals-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/find-court-tribunal-service-gov-uk.yml
  shuttering/prod/helpwithcourtfees-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/jcm-judiciary-uk.yml
  shuttering/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1747 Revert "CHG5016403 - shuttering all apps on 22nd May 2024"
  shuttering/prod/appeal-benefit-decision-service-gov-uk.yml
  shuttering/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  shuttering/prod/appeal-tax-tribunal-service-gov-uk.yml
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/apply-for-probate-service-gov-uk.yml
  shuttering/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  shuttering/prod/claim-employment-tribunal-service-gov-uk.yml
  shuttering/prod/courttribunalfinder-service-gov-uk.yml
  shuttering/prod/employmenttribunals-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
  shuttering/prod/find-court-tribunal-service-gov-uk.yml
  shuttering/prod/helpwithcourtfees-service-gov-uk.yml
  shuttering/prod/hmcts-access-service-gov-uk.yml
  shuttering/prod/jcm-judiciary-uk.yml
  shuttering/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  shuttering/prod/moneyclaims-service-gov-uk.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/prod/respond-divorce-service-gov-uk.yml
  shuttering/prod/special-tribunals-service-gov-uk.yml
  shuttering/prod/track-benefit-appeal-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1750 feat: added DNS for DSVM
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1752 DTSPO-17835 - replicating issue
  environments/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1751 Add AFD Verify record for vh-video-web PR
  environments/dev/dev.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Dev/add-or-update

#1753 DTSPO-17835 - replicating issue
  shuttering/sandbox/frontdoor-sbox-hmcts.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1754 DTSPO-17835 - applying fix on the module
  modules/azure-public-dns/cname_record.tf
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1755 add dmarc record for reforms.hmcts.net and hmcts.net domain
  environments/prod/reform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1756 fix-indendation
  components/prod/reform-hmcts.tf
  environments/prod/reform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1758 Adding workflow and actions to create DNS via Backstage - Platform API PoC
  .github/actions/multiRecord/action.yaml
  .github/actions/shutterRecord/action.yaml
  .github/workflows/backstage.yaml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1760 Adding record to validate
  environments/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1764 SRE-19086 to add temp public DNS entries for 12 ALT Names for prosecu…
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update
