Repository hmcts/azure-public-dns, pull requests merged in 2024-02, with the labels that each got.

#1598 SRE-17822 Adding CNAMEs to the zone file - rota.cjscp.org.uk.
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1602 DTSSTCI-403
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc.yml
  environments/staging/aat.yml
  environments/test/perftest.yml
  environments/test/test.yml
Labels: nle/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Staging/add-or-update, Demo/add-or-update, Ithc/add-or-update, Test/add-or-update

#1603 DTSPO-16046 add pub dns for ngfw poc nodejs
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1605 adding the dns record for golden path
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1606 feat: xhibit SSL cert validation
  environments/staging/staging-internal-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update, Staging/add-or-update

#1608 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/add-or-update

#1611 fixing error
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/destroy

#1613 Revert "fixing error"
  environments/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1617 SRE-18056 Adding the required DNS pointing links for login.sit.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1620 SRE-18233 Adding the required DNS pointing link for rota.nft.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1621 SRE-18234 Adding the required DNS pointing links for login.nft.cjscp.org.uk.
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1622 SRE-18232 Pointing DNS CName
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update
