Repository hmcts/azure-public-dns, pull requests merged in 2024-06, with the labels that each got.

#1767 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Prod/add-or-update, Demo/destroy

#1772 Testing shuttering process on plum
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1773 Revert "Testing shuttering process on plum"
  shuttering/prod/platform-hmcts-net.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1769 DO NOT MERGE - juror: 7th june dry run shutter on
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1770 DO NOT MERGE - juror: 7th june dry run shutter off
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1774 DTSPO-17037 - netbox deleted
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/destroy, Sandbox/destroy

#1777 DRAFT - DO NOT MERGE - shutter legacy Juror for Dry run
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1778 DRAFT - DO NOT MERGE - Juror shutter off
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1780 DTSPO-17682-goldenpath-step-9
  environments/sandbox/sandbox.yml
  shuttering/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1781 Dtspo 17278 improve shuttering
  components/prod/appeal-benefit.tf
  components/prod/appeal-immigration.tf
  components/prod/appeal-tax-tribunal.tf
  components/prod/apply-divorce.tf
  components/prod/apply-for-probate.tf
  components/prod/apply-to-adopt-a-child-placed-in-your-care.tf
  components/prod/apply-to-court-about-child-arrangements-c100.tf
  components/prod/claim-employment-tribunals.tf
  components/prod/courttribunalfinder.tf
  components/prod/employmenttribunals.tf
  components/prod/end-civil-partnership.tf
  components/prod/find-court-tribunal.tf
  components/prod/helpwithcourtfees.tf
  components/prod/hmcts-access.tf
  components/prod/jcm-judiciary.tf
  components/prod/manage-your-support-for-hmcts-services.tf
  components/prod/moneyclaims.tf
  components/prod/respond-divorce.tf
  components/prod/special-tribunals.tf
  components/prod/track-benefit-appeal.tf
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
  environments/sandbox/sandbox.yml
  example/shuttering/example.tf
  example/shuttering/readme.md
  example/shuttering/records.yml
  example/shuttering/shutters.yml
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
  modules/azure-public-dns/locals.tf
  modules/azure-public-dns/variables.tf
  shuttering/prod/shutter_by_area.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1783 Test shuttering for plum sandbox
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
  environments/sandbox/sandbox.yml
  example/shuttering/readme.md
  example/shuttering/records.yml
  shuttering/prod/shutter_by_area.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1785 Revert "Test shuttering for plum sandbox"
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
  environments/sandbox/sandbox.yml
  example/shuttering/readme.md
  example/shuttering/records.yml
  shuttering/prod/shutter_by_area.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Demo/no-changes, Prod/add-or-update, Sandbox/add-or-update

#1786 DTSPO-17278 further improve shuttering
  README.md
  components/prod/appeal-benefit.tf
  components/prod/appeal-immigration.tf
  components/prod/appeal-tax-tribunal.tf
  components/prod/apply-divorce.tf
  components/prod/apply-for-probate.tf
  components/prod/apply-to-adopt-a-child-placed-in-your-care.tf
  components/prod/apply-to-court-about-child-arrangements-c100.tf
  components/prod/claim-employment-tribunals.tf
  components/prod/courttribunalfinder.tf
  components/prod/employmenttribunals.tf
  components/prod/end-civil-partnership.tf
  components/prod/find-court-tribunal.tf
  components/prod/helpwithcourtfees.tf
  components/prod/hmcts-access.tf
  components/prod/jcm-judiciary.tf
  components/prod/manage-your-support-for-hmcts-services.tf
  components/prod/moneyclaims.tf
  components/prod/respond-divorce.tf
  components/prod/special-tribunals.tf
  components/prod/track-benefit-appeal.tf
  environments/prod/appeal-benefit-decision-service-gov-uk.yml
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/appeal-tax-tribunal-service-gov-uk.yml
  environments/prod/apply-divorce-service-gov-uk.yml
  environments/prod/apply-for-probate-service-gov-uk.yml
  environments/prod/apply-to-adopt-a-child-placed-in-your-care-service-gov-uk.yml
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
  environments/prod/claim-employment-tribunal-service-gov-uk.yml
  environments/prod/courttribunalfinder-service-gov-uk.yml
  environments/prod/employmenttribunals-service-gov-uk.yml
  environments/prod/end-civil-partnership-service-gov-uk.yml
  environments/prod/find-court-tribunal-service-gov-uk.yml
  environments/prod/helpwithcourtfees-service-gov-uk.yml
  environments/prod/hmcts-access-service-gov-uk.yml
  environments/prod/jcm-judiciary-uk.yml
  environments/prod/manage-your-support-for-hmcts-services-service-gov-uk.yml
  environments/prod/moneyclaims-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/respond-divorce-service-gov-uk.yml
  environments/prod/special-tribunals-service-gov-uk.yml
  environments/prod/track-benefit-appeal-service-gov-uk.yml
  environments/sandbox/sandbox.yml
  example/shuttering/example.tf
  example/shuttering/readme.md
  example/shuttering/records.yml
  example/shuttering/shutters.yml
  modules/azure-public-dns/a_record.tf
  modules/azure-public-dns/cname_record.tf
  modules/azure-public-dns/locals.tf
  modules/azure-public-dns/variables.tf
  shuttering/prod/shutter_by_area.yml
  shuttering/prod/shutter_by_platform.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1790 Comment out platform tag on sbox record
  environments/sandbox/sandbox.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1792 Add sds tags to existing records
  environments/prod/apps-hmcts-net.yml
  environments/prod/juror-bureau-justice-gov-uk.yml
  environments/prod/pip-court-tribunal-hearings-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
  environments/prod/pre-recorded-evidence-justice-gov-uk.yml
  environments/prod/reply-jury-summons-service-gov-uk.yml
  shuttering/prod/shutter_by_platform.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/add-or-update

#1793 SRE-19324: Renew prp&prd cjscp.org-uk certs
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy

#1795 SRE-19086 - to clean up temp DNS entries for cert renewal work
  environments/prod/cjscp-org-uk.yml
Labels: nle/no-changes, Test/no-changes, Ithc/no-changes, Staging/no-changes, Dev/no-changes, Sandbox/no-changes, Demo/no-changes, Prod/destroy
