Repository hmcts/azure-public-dns, pull requests merged in 2025-09, with the labels that each got.

#2176 chore: add tmc subdomains to cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2177 feat: add opal-frontend CNAME record to test environments
  environments/ithc/ithc.yml
  environments/test/test-apps-hmcts-net.yml
  environments/test/test.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Staging - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/destroy, 278: Ithc - TerraformPlanApply/add-or-update

#2179 fix: typo on tmc cname records
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/destroy

#2186 SHUTTER CUI
  shuttering/prod/moneyclaims-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2189 Revert "SHUTTER CUI"
  shuttering/prod/moneyclaims-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2191 Shutter prod for release 4.4.0 on 16.9.2025
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2205 add cname for gandi cert
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/destroy

#2207 DTSCCI-000: Unshutter CUI
  shuttering/prod/moneyclaims-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2209 Update shutter_by_platform.yml
  shuttering/prod/shutter_by_platform.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2211 feat: shutter all cft services
  shuttering/prod/shutter_by_platform.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2212 Revert "feat: shutter all cft services (#2211)"
  shuttering/prod/shutter_by_platform.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes
