Repository hmcts/azure-public-dns, pull requests merged in 2025-06, with the labels that each got.

#2108 VIH-11448 rm ithc vh
  environments/ithc/ithc.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Staging - TerraformPlanApply/no-changes, 278: Ithc - TerraformPlanApply/destroy

#2109 VIH-11448 rm vh test aspect
  environments/sandbox/sandbox.yml
  environments/test/test.yml
  shuttering/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/destroy, 278: Sandbox - TerraformPlanApply/destroy

#2111 VIH-11448 rm vh stg
  environments/staging/hearings-reform-hmcts-net.yml
  environments/staging/staging.yml
  shuttering/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/destroy

#2112 add cnames for certs
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2113 Dtspo 26134
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2114 Update CNAME records for HaloITSM
  environments/prod/hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes
