Repository hmcts/azure-public-dns, pull requests merged in 2025-02, with the labels that each got.

#1991 Revert "DTSPO-23191 - shuttering staging atlassian for Flex migration"
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1992 DTSPO-23191 - shuttering staging atlassian for Flex migration""
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1993 Revert DTSPO-23191 - shuttering staging atlassian for Flex migration
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1994 Darts Dry Run Proxy DNS
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1995 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1997 DTSPO-23865 - add cname record baisexternalstg
  environments/prod/mft-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1999 DIAC-912 Shutter IAC in prod
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2001 Revert "DIAC-912 Shutter IAC in prod"
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2004 DTSPO-23865 - amend CNAME name for baisexternal-stg
  environments/prod/mft-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2005 DTSPO-23913 - Shuttering Atlassian staging while fresh restores are running
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2007 DTSPO-23794 - Updated dns entry for sit onlineplea
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2000 PAY-7609: Decommission of Digital Bar: Front end (BAR Web) DEMO env
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/destroy

#2008 DTSPO-23794 - Updated dns entry for sit login
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/destroy

#2010 DTSPO-23913 - Adding temp entry for Atlassian test
  environments/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1996 Shutter pre-recorded-evidence-justice-gov-uk
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: do not merge, Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2011 Revert "Shutter pre-recorded-evidence-justice-gov-uk"
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1998 DTSPO-24218 - Atlassian shutter test (OOH) - DO NOT MERGE
  shuttering/prod/hmcts-net.yml
Labels: do not merge, Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2013 Revert "DTSPO-24218 - Atlassian shutter test (OOH)"
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2016 Renew NFT Idam external cert
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2017 Renew NFT Idam external cert
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2009 PAY-7624: Decommission of Digital Bar: Front end (BAR Web): AAT, per…
  environments/ithc/ithc.yml
  environments/staging/aat.yml
  environments/test/perftest.yml
Labels: Sandbox - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/destroy, Test - TerraformPlanApply/destroy, Ithc - TerraformPlanApply/destroy

#2018 DTSPO-24225 - shutter Atlassian prod for cutover
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update
