Repository hmcts/azure-public-dns, pull requests merged in 2025-05, with the labels that each got.

#2075 Shutter CaTH
  shuttering/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2076 Unshutter CaTH
  shuttering/prod/pip-court-tribunal-hearings-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2071 FACT-2364 reformscan remove dangling records
  environments/prod/platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2081 Add CNAMEs for test environment ssl renew validation
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2082 Adding 2 entries for cngfw ingress and cleaning up
  environments/sandbox/sandbox.yml
  shuttering/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#2083 Fix the CNAME entries for the Test environment SSL cert renewal
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2085 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2086 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2090 Revert "Shutter Cui for ILA feature release - Dont merge before ILA release"
  environments/prod/moneyclaims-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2096 add entries for bae cert verification
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2097 add entry for opal-frontend
  environments/demo/demo-platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/add-or-update

#2103 Revalidate infected blood fd domain
  environments/prod/appeal-infected-blood-compensation-decision-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2105 DTSPO-25894: Add peach.dev dns
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/add-or-update
