Repository hmcts/azure-public-dns, pull requests merged in 2025-01, with the labels that each got.

#1950 DLRM - Libra via the Internet - Update apps-hmcts-net.yml
  environments/prod/apps-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1949 Create Public DNS for the Dawid Golden Path NodeJS app
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1952 Update sandbox.yml
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1951 Update sandbox.yml to include Public DNS for Golden Path nodejs
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1953 Update sandbox.yml with correct public DNS config
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#1954 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1956 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1957 Create public DNS for Lukasz's Golden Path NodeJS application
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1958 DTSPO-22820 Adding pubsub dns
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1959 DTSPO-22820 Updating public ip for pubsub
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1960 CHG5018203 - Unshutter et-syr
  shuttering/prod/respond-et-syr-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1962 Remove DNS entries for the two Golden Path labs
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#1963 Adding record to validate cert renewal
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1964 Updating record
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1965 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1969 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update

#1966 Splunk - Legacy TLS to allow for historical searches
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#1970 remove any CNAME records for my-services.nftpr2.cjscp.org.uk
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#1972 DTSPO-22820 adding dns entries for other envs for pubsub
  environments/ithc/ithc.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox.yml
  environments/staging/aat.yml
  environments/test/perftest.yml
Labels: nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update, Test - TerraformPlanApply/add-or-update, Ithc - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#1971 Update platform-hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1973 C100 dry run
  environments/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: nle - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Demo - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update, Test - TerraformPlanApply/add-or-update, Ithc - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#1977 C100 dry run - unshutter
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1978 Revert "C100 dry run - unshutter"
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1979 c100 dry run
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1980 DTSPO-23473 - shuttering atlassian pre prod environment for test
  environments/prod/hmcts-net.yml
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1981 DTSPO-23473 - Reverting PRP shuttering test
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1982 Revert "c100 dry run"
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1983 Dry run enable
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1984 DTSPO-23136: Temp DNS records for rota & NFT02
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1985 DTSPO-23137 - Updated the dns entry for dev onlineplea
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1986 Revert "Dry run enable"
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#1989 PRL Tech release
  shuttering/prod/apply-to-court-about-child-arrangements-c100-service-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update
