Repository hmcts/azure-public-dns, pull requests merged in 2025-08, with the labels that each got.

#2136 Revert "Shutter all CFT services for CHG-0031743"
  shuttering/prod/shutter_by_platform.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2139 Dtspo 26781 mano golden path 01
  environments/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/add-or-update

#2140 DTSPO-26781: DTSPO-26781-mano-goldenpath-nodejs
  environments/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/add-or-update

#2141 Adding entries for renewal
  environments/prod/ctsc-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2145 Test plum shuttering
  shuttering/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/add-or-update

#2146 Revert "Test plum shuttering"
  shuttering/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/add-or-update

#2150 add CNAMES for certs
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2153 Update demo-platform-hmcts-net.yml
  environments/demo/demo-platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/add-or-update

#2143 shutter moneyclaims-service-gov-uk.yml - DO NoT merge before release
  shuttering/prod/moneyclaims-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2155 revert shabbir golden-path changes
  environments/sandbox/sandbox.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/destroy

#2158 Update platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2159 Revert "Update platform-hmcts-net.yml"
  shuttering/prod/platform-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2168 Adding A record for Pathfinder APPGW in SIT
  environments/prod/cjscp-org-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2170 ARCPOC-167 - Added AppReg config
  environments/demo/demo-apps-hmcts-net.yml
  environments/ithc/ithc-apps-hmcts-net.yml
  environments/staging/staging-apps-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Demo - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/add-or-update, 278: Staging - TerraformPlanApply/add-or-update

#2171 ARCPOC-179 Updated AppReg txt record
  environments/demo/demo-apps-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/add-or-update
