Repository hmcts/azure-public-dns, pull requests merged in 2025-03, with the labels that each got.

#2019 DTSPO-24225 - Unshutter Atlassian and update IP
  environments/prod/hmcts-net.yml
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2020 DTSPO-24225 - updating terraform to v4 in test
  components/test/provider.tf
Labels: Sandbox - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Test - TerraformPlanApply/destroy

#2021 DTSPO-24225/atlassian shutter
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2022 DTSPO-24225 - Removing Atlassian shutter
  shuttering/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2015 PO-1288: Add opal-frontend-test
  environments/staging/staging.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#2023 DTSPO-24065: Adding temp records
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2027 DTSPO-24093 - Adding dns entries for sit nft rota and login
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2028 removing goldenpath entries
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#2030 SPF and DKIM configuration for SendGrid
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2032 ITHC - Added fis-ds-web edge cases configs in ITHC env
  environments/ithc/ithc.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Ithc - TerraformPlanApply/add-or-update

#2024 PAY-7621: Decommission of Digital Bar: Front end (BAR Web): Production
  environments/prod/platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2033 PAY-7617: Update to remove manage-payments
  environments/prod/platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2040 DTSPO-24720 - remove dangling records
  environments/dev/dev.yml
  environments/prod/hmcts-net.yml
  environments/prod/platform-hmcts-net.yml
  environments/sandbox/sandbox.yml
  shuttering/prod/hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
  shuttering/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy, Dev - TerraformPlanApply/destroy, Sandbox - TerraformPlanApply/destroy

#2043 add new txt record to verify hmcts.net with attlassian
  environments/prod/hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2041 Ops/dtspo 25003/idam
  environments/staging/aat.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Staging - TerraformPlanApply/add-or-update

#2039 SPF and DKIM configuration
  environments/prod/cjscp-org-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2047 DTSPO-24720 - remove dangling cname records
  components/sandbox/frontdoor-sbox-hmcts.tf
  environments/sandbox/frontdoor-sbox-hmcts.yml
  shuttering/sandbox/frontdoor-sbox-hmcts.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy
