Repository hmcts/azure-public-dns, pull requests merged in 2025-07, with the labels that each got.

#2122 Added Courtfines records for Staging, Demo and ITHC
  environments/demo/demo-platform-hmcts-net.yml
  environments/ithc/ithc.yml
  environments/staging/staging.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Demo - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/add-or-update, 278: Staging - TerraformPlanApply/add-or-update

#2120 [NFDIV-4919] Shutter No Fault Divorce
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2124 Shutter entire divorce dns zone
  shuttering/prod/apply-divorce-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2125 Unshutter divorce
  shuttering/prod/apply-divorce-service-gov-uk.yml
  shuttering/prod/end-civil-partnership-service-gov-uk.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes

#2126 Updated Courtfines record
  environments/staging/staging.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/destroy

#2128 feat(dns): add opal-frontend CNAME record to test environment
  environments/test/test-apps-hmcts-net.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/add-or-update

#2135 Shutter all CFT services for CHG-0031743
  shuttering/prod/shutter_by_platform.yml
Labels: 278: Dev - TerraformPlanApply/no-changes, 278: nle - TerraformPlanApply/no-changes, 278: Sandbox - TerraformPlanApply/no-changes, 278: Demo - TerraformPlanApply/no-changes, 278: Test - TerraformPlanApply/no-changes, 278: Prod - TerraformPlanApply/add-or-update, 278: Ithc - TerraformPlanApply/no-changes, 278: Staging - TerraformPlanApply/no-changes
