Repository hmcts/azure-public-dns, pull requests merged in 2025-04, with the labels that each got.

#2050 Add ICP endpoints into prod DNS config
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2051 Revert "CHG5020481: Shutter CFT for IDAM Release 9.13.0"
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2054 Update sandbox.yml
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#2049 Remove Probate Dangling Records
  environments/prod/platform-hmcts-net.yml
  shuttering/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2058 DTSPO-24720 - remove dangling records
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/destroy

#2056 DIAC-928 Shutter IAC in prod
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2061 Chg5020662 unshutter aip
  environments/prod/appeal-immigration-asylum-decision-service-gov-uk.yml
  environments/prod/platform-hmcts-net.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2062 Revert "Update sandbox.yml"
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#2059 CHG5020642 Shuttering all CFT Services
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2064 Revert "CHG5020642 Shuttering all CFT Services"
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2063 abhivan golden-path test
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/add-or-update

#2065 Revert "abhivan golden-path test"
  environments/sandbox/sandbox.yml
Labels: Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update, Sandbox - TerraformPlanApply/destroy

#2068 Unshutter prod for release 4.3.0 on 23.4.2025
  shuttering/prod/pre-recorded-evidence-justice-gov-uk.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2069 Revert "Shutter CFT services (HMC Terraform Release)"
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2070 CHG5020781 HMC outbound adapter changes
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update

#2074 Revert "CHG5020781 HMC outbound adapter changes"
  shuttering/prod/shutter_by_platform.yml
Labels: Sandbox - TerraformPlanApply/no-changes, Test - TerraformPlanApply/no-changes, nle - TerraformPlanApply/no-changes, Staging - TerraformPlanApply/no-changes, Demo - TerraformPlanApply/no-changes, Ithc - TerraformPlanApply/no-changes, Dev - TerraformPlanApply/no-changes, Prod - TerraformPlanApply/add-or-update
